doctype
html
  head
    // Global Header
    include ./inc/head.jade

    title #{title} 
    link(rel='icon' href='/favicon.ico' type='imatge/x-icon')
  body
    #wrapper
    
      // Navigation
      include ./inc/nav.jade

      section
        .content-wrap
          block content

    footer
      .container
        include ./inc/footer.jade
      
          